#base_sub_page {
	/*height: 2120px;*/
}

#base_sub_page a:link, #base_sub_page a:visited {
	text-decoration: none;
}

#base_sub_page_mid {
	height: 100%;
	width: 1000px;
	margin: 0 auto;
}

#base_sub_page_left {
	height: 100%;
	width: 740px;
	float: left;
}

#base_sub_page_right {
	height: 100%;
	width: 240px;
	float: right;
}