{% load staticfiles %}
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'talk_css/talk.css'%}">

<div id="talk">
	<div id="talk-up">
		<div id="talk-up-left">慢话题</div>
		<!-- <div id="talk-up-right">
			<ul>
				<li><a href="#">美&nbsp食</a></li>
				<li><a href="#">创&nbsp意</a></li>
				<li><a href="#">萌&nbsp宠</a></li>
				<li><a href="#">健&nbsp康</a></li>
				<li><a href="#">情&nbsp感</a></li>
				<li><a href="#">更&nbsp多</a></li>
			</ul>
		</div> -->
	</div>

	<div id="talk-down">
		<div id="talk-downdiv1" class="talk-downdiv">
			<div class="talk-downimg">
				<img src="">
			</div>
			<div class="talk-downtext">
				<div class="talk-downtext_col talk-col">
					<div class="talk-downtext-img">
						<img src="">
					</div>
					<div class="talk-downtext-text">
						<a href="#" class="talk-topic">标题</a>
						<p class="talk-cont">这是文章的内容。</p>
					</div>
				</div>
				<div class="talk-downtext_col talk-col">
					<div class="talk-downtext-img">
						<img src="">
					</div>
					<div class="talk-downtext-text">
						<a href="#" class="talk-topic">标题</a>
						<p class="talk-cont">这是文章的内容。</p>
					</div>
				</div>
				<div class="talk-downtext_col">
					<div class="talk-downtext-img">
						<img src="">
					</div>
					<div class="talk-downtext-text">
						<a href="#" class="talk-topic">标题</a>
						<p class="talk-cont">这是文章的内容。</p>
					</div>
				</div>
			</div>
		</div>

		<div id="talk-downdiv2" class="talk-downdiv">
			<div class="talk-downimg">
				<img src="">
			</div>
			<div class="talk-downtext">
				<div class="talk-downtext_col talk-col">
					<div class="talk-downtext-img">
						<img src="">
					</div>
					<div class="talk-downtext-text">
						<a href="#" class="talk-topic">标题</a>
						<p class="talk-cont">这是文章的内容。</p>
					</div>
				</div>
				<div class="talk-downtext_col talk-col">
					<div class="talk-downtext-img">
						<img src="">
					</div>
					<div class="talk-downtext-text">
						<a href="#" class="talk-topic">标题</a>
						<p class="talk-cont">这是文章的内容。</p>
					</div>
				</div>
				<div class="talk-downtext_col">
					<div class="talk-downtext-img">
						<img src="">
					</div>
					<div class="talk-downtext-text">
						<a href="#" class="talk-topic">标题</a>
						<p class="talk-cont">这是文章的内容。</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>